:root {
    --black1:#050505;
    --black2:#030303;
    --black3:#060606;
    --black4:#090909;
    --black5:#0c0c0c;
    --gray2:#1d1d1d;
    --gray3:#1e1e1e;
    --gray4:#343434;
    --gray5:#4a4a4a;
    --gray6:#bbbbbb;
    --gray7:#d2d2d2;
    --gray8:#e8e8e8;
    --white:#ffffff;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    outline: none;
  }  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--black5);
    color: var(--white);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid var(--gray7);
    background-color: var(--black1);
}
.nav-izq{
    display: flex;
    justify-content: center;
}
.nav-der{
    display: flex;
    justify-content: center;
}
.nav-der li{
    list-style: none;
    margin-right: 5px;
}
.nav-izq li{
    list-style: none;
    margin-right: 5px;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    margin: 5px;
}